<ion-modal-view>
	<ion-header-bar align-title="left" class="bar-dark">
		<div class="buttons">
			<button class="button button-icon ion-ios-arrow-back" ng-click="closeModal('contactinfo')"></button>
		</div>
		<h1 class="title">详细信息</h1>
	</ion-header-bar>
	<ion-content scroll=false>
		<div class="list mList">
			<a class="item item-avatar" href="#">
				<img ng-src="img/ionic.png">
				<h2>{{contactinfo.Name}}</h2>
				<p>微信号：{{contactinfo.Account}}</p>
				<p>昵称：{{contactinfo.NickName}}</p>
			</a>
		</div>
		<div class="list mList">
			<label class="item item-input item-input-login" ng-click="">
				<span class="input-label">设置备注和标签</span>
			</label>
		</div>

		<div class="list mList">
			<label class="item item-input item-input-login" ng-click="">
				<span class="input-label">地区</span>
				<span class="input-label">{{contactinfo.Address}}</span>
			</label>
			<label class="item item-input item-input-login" ng-click="">
				<span class="input-label">个性签名</span>
				<span class="input-label">未填写</span>
			</label>
		</div>
		<div class="list">
			<div class="btnlogin-w">
				<button class="button button-balanced" ng-click="GotoSend()">发消息</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>