<ion-popover-view id="wxpopover">
	<ion-content scroll=false>
		<ion-list>
			<ion-item ng-click="selectPop(1);" class="item-dark">
				<i class="icon ion-android-people"></i>
				{{language.groupchat}}
			</ion-item>
			<ion-item ng-click="selectPop(2);" class="item-dark">
				<i class="icon ion-android-person-add"></i>
				{{language.add}}
			</ion-item>
			<ion-item ng-click="selectPop(3);" class="item-dark">
				<i class="icon ion-android-expand"></i>
				{{language.scancode}}
			</ion-item>
		</ion-list>
	</ion-content>
</ion-popover-view>