/* Empty. Add your own CSS if you like */

#wxpopover {
	max-height: 158px;
	margin-top: 7px;
}
#wxpopover {
	top: 32px;
}
#wxpopover ion-content,
#fppopover ion-content {
	margin: 0;
}
#wxpopover .list,
#fppopover .list {
	padding-top: 0;
}
#fppopover {
	max-height: 105px;
	margin-top: 5px;
}
.popover-backdrop.active {
	background-color: rgba(0, 0, 0, 0);
}
.mList {
	margin: 20px 0;
}
ion-content {
	background: #EDF2F1;
}
.item-height {
	height: 75px;
}
.input-label-right {
	position: absolute;
	right: 0;
	text-align: right;
}
.img-label {
	width: 50px;
}
.img-label-small {
	width: 20px;
}
.itemimg {
	padding: 0;
	padding-left: 54px;
	min-height: 42px;
}
.itemimg > img:first-child {
	top: 4px;
	left: 10px;
	max-width: 32px;
	max-height: 32px;
}
.newclass {
	color: red;
}
.card {
	margin: 0;
}
.cardimg {
	width: 30%;
}
/******************************/

.sheetspan {
	width: 40px;
	height: 60px;
	display: inline-block;
	text-align: center;
	margin: 5px 20px;
}
.sheetimg {
	width: 40px;
	height: 40px;
}
.ft-aciton-sheet-title{
	border-bottom: solid 1px #CCCCCC;
}
/*********************/
.weixincontent img{
	width: 16px;
	height: 16px;
}
